.favorite_main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.favorite_block {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.cart__img-fav {
  max-width: 100%;
}
.footer_cart {
  border: 1px solid #bfb9b9;
  background-color: #ffff;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}
.footer_cart h2 {
  margin-top: 6px;
  color: red;
}
.footer_cart span {
  color: black;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-5 {
  width: 85%;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #ff2d37;
  background: linear-gradient(0deg, #ff2d37, #ff2d37);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ff2d37;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.empty__null {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.empty__img-1 {
  max-width: 100%;
  width: 200px;
}
@media (max-width: 600px) {
  .empty__null {
    flex-direction: column;
    margin-top: 20px;
  }
}
.empty__not {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
