.categories_inner {
  width: 80vw;
  margin: 50px auto;
}
.categories__card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 680px) {
  .categories__card-wrapper {
    justify-content: center;
  }
}

.categories_card-item {
  border: 1px solid rgb(215, 204, 204);
  background: linear-gradient(to top, #f5f5f5, #d5d5d5);
  width: 280px;
  height: 70px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;
  padding: 0px 10px;
}
.categories_card-img {
  width: 30px;
}
.categories_card-item:hover .category-item {
  cursor: pointer;
  /* background: #ff2d37; */
  color: white;
}
.categories_card-item:hover .categories_card-img {
  cursor: pointer;
  /* background: #ff2d37; */
  color: white;
}

.categories_card-item:hover {
  cursor: pointer;
  background: #ff2d37;
  color: white;
}

.category-item {
  text-align: center;
  padding-top: 5px;
}
/* .category-item:hover {
  color: white;
} */
