* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80vw;
  margin: 0 auto;
}
.form_wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.form_inner {
  margin: 50px auto !important;
  width: 35vw !important;
  border: 1px solid rgb(211, 205, 205);
  padding: 30px;
}
.form_inner h3 {
  text-align: start;
  color: #878787;
  font-style: bold;
  margin-bottom: 20px;
}
.form_inner p {
  text-align: start;
  color: #878787;
}

@media (max-width: 767px) {
  .form_inner {
    width: 70vw !important;
  }
  .bottom_card {
    justify-content: space-between;
  }
}

.isLogin {
  color: red;
  cursor: pointer;
  display: inline-block;
  margin-left: 3px;
}
.isLogin:hover {
  color: rgb(231, 142, 142);
  cursor: pointer;
}
.login-form-button {
  background-color: #878787 !important;
}

.form_bottom {
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
}
.form_bottom-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.bottom_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 70px;
  margin: 20px !important;
}
.bottom_card-txt {
  text-align: start;
}
@media (max-width: 767px) {
  .bottom_card {
    justify-content: space-between;
  }
}

.bottom_card-img {
  font-size: 40px;
  border: 1px solid rgb(211, 205, 205);
  border-radius: 50%;
  padding: 10px;
  background: white !important;
  color: red !important;
}
.form__login__password {
  width: 400px !important;
}
@media (max-width: 1270px) {
  .form__login__password {
    width: 350px !important;
  }
}
@media (max-width: 1150px) {
  .form__login__password {
    width: 300px !important;
  }
}
@media (max-width: 970px) {
  .form__login__password {
    width: 250px !important;
  }
}
@media (max-width: 850px) {
  .form__login__password {
    width: 220px !important;
  }
}

@media (max-width: 766px) {
  .form__login__password {
    width: 400px !important;
  }
}

@media (max-width: 624px) {
  .form__login__password {
    width: 350px !important;
  }
}
@media (max-width: 554px) {
  .form__login__password {
    width: 300px !important;
  }
}
@media (max-width: 488px) {
  .form__login__password {
    width: 260px !important;
  }
}

@media (max-width: 430px) {
  .form__login__password {
    width: 220px !important;
  }
}
@media (max-width: 370px) {
  .form__login__password {
    width: 200px !important;
  }
}
@media (max-width: 340px) {
  .form__login__password {
    width: 170px !important;
  }
}
