.qa {
  margin: 50px auto;
}

.qa_title {
  font-size: 18px;
  color: rgb(18, 16, 16);
  text-align: center;
  margin: 20px 0;
}
.collapsed__accordeon {
  border: none !important;
  background-color: white;
}
